.vp-doc blockquote {
  border-radius: 6px;
  padding: 15px 15px 15px 15px;
  position: relative;
  background-color: var(--vp-c-gray-soft);
  border-left: 4px solid var(--blockquote-border-left);
}

/* > 注释的文字大小 */
.vp-doc blockquote > p {
  font-size: 15px;
}
